*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #423b1d;
}
section .text{
    position: relative;
    text-align: center;
    color: #ffffff;
    margin: 40px;
    max-width: 650px;   
    transition: 1s;
}
section .text:hover{
    color: #000000;
}
/*section .text:hover > section .text{
    background: #fff;
}*/
section .text span{
    position: relative;
    display: inline-block;
}